<!-- /.bestPlaces-section -->
<section class="blue-section bestPlaces-section">
  <div class="container">
    <h3 class="section-title">Places Available</h3>
    <div class="bestPlaces-wrap">
      <div id="grid" data-columns>
        <% @places.each do |p| %>
          <div class="bestplace-content">
            <div class="item-thumbnail">
              <a href="#">
                <%place = JSON.parse(p.detail)%>
                <%if place["photos"].present?%>
                  <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=<%= place["photos"][0]["width"] %>&photoreference=<%= place["photos"][0]["photo_reference"] %>&key=<%= ENV["API_KEY"] %>" alt="Item thumbnail">
                <%else%>
                  <img src="http://preview.ait-themes.com/businessfinder/wp1/wp-content/uploads//bigstock-Cashier-In-Baker-s-Shop-Posing-48278945-334afa536a5e12c7e93ef86d78b062c5.jpg" alt="Item thumbnail">
                <%end%>
              </a>
            </div>
            <div class="item-detail-top">
              <h5 class="item-title">
                <a href="/<%= p.slug %>"><%= place["name"] %></a>
              </h5>
              <div class="item-address">
                <span class="item-location"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <%= place["vicinity"] %>
              </div>
            </div>
            <div class="item-rating">
              <%= place["rating"].present? ? "#{place["rating"]}/5" : "No Ratings avalable" %>
            </div>
          </div>
        <% end %>
        <%if @places.count < 1%>
          <h1 class="text-center">No places found</h1>
        <%end %>  
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  .bestPlaces-section .bestplace-content{
    margin-bottom: 10px;
  }
</style>