<!-- /.recentPlaces-section -->
<section class="blue-section recentPlaces-section">
  <div class="container">
    <h3 class="section-title">Places Available</h3>
    <div class="recentPlaces-wrap">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <% @domains.each do |domain| %>
              <li>
                <div class="item-content">
                  <div class="item-thumbnail">
                    <a href="#">
                      <img src="http://preview.ait-themes.com/businessfinder/wp1/wp-content/uploads//bigstock-interior-of-a-restaurant-17447009-580f2baa2eceff56fb884c43a6186832.jpg" alt="Item thumbnail">
                    </a>
                  </div>
                  <div class="item-description">
                    <h3>
                      <a href="/<%= domain.state.downcase.gsub(" ", "-") %>/<%= domain.city.downcase.gsub(" ", "-") %>/<%= domain.id %>"><%= domain.domain %></a>
                    </h3>
                    <p>
                      Keywords:
                        </br>
                        <% domain.keywords.split(",").each do |keyword| %>
                          <%= keyword %></br>
                        <% end %>
                    </p>
                  </div>
                </div>
                <div class="item-rating">
                  <span>No rating yet.</span>
                </div>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.recentPlaces-section -->